# Node.js modules
node_modules/

# Build outputs
dist/
build/

# Vite cache
.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Optional folders you don't want on GitHub
public/uploads/
